<nav>
	<ul>
		<li>
			<a id="navbarTitle"><i class="fas fa-sitemap" id="logo"></i></a>
		</li>
		<li>
			<a><i id="postSomething" class="fas fa-plus"></i> Postez quelque chose !</a>
		</li>
		<li>
			<form>
				<input id="inputSearch" type="text" placeholder="&#xF002; Rechercher" style="font-family:Arial, FontAwesome" />
			</form>
		</li>
			

		<li class="rightAlignNavbar">
			<a href="#"><i class="far fa-user"></i></a>
		</li>
		<li class="rightAlignNavbar">
			<a href="#">S'inscrire</a>
		</li>
		<li class="rightAlignNavbar">
			<a href="#">Se connecter</a>
		</li>
	</ul>
</nav>