<ul>
	<li>
		<a id="pageBefore" href="#"><i class="fas fa-arrow-left"></i></a>
	</li>
	<li>
		<p class="pageNumber">2</p>
	</li>
	<li>
		<a id="pageAfter" href="#"><i class="fas fa-arrow-right"></i></a>
	</li>
</ul>