.post{
    background-color: var(--color-white);
    margin-bottom: 10px;
  }

.Tag{
    clip-path: polygon(0% 0%, calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0% 100%);
    padding: 3px 10px 3px 3px;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
}

.postContent{
    font-size: 20px;
}

.postUserName, .Tag, .postAction{
    font-size: 15px;
}

.postInfos, .postContent, .postAction{
    padding: 4px 4px 0px 4px;
}

.blue{
    background-color: rgb(109, 109, 255);
}

.red{
    background-color: rgb(255, 85, 85);
}

.green{
    background-color: rgb(51, 209, 51);
}

.purple{
    background-color: rgb(124, 4, 124);
}


.postUpvote:hover,
.postDownvote:hover,
.postComment:hover{
    background-color: var(--color-grey-3);
}

.postUpvote:hover,
.postDownvote:hover,
.postSeeComment:hover,
.postComment:hover,
.Tag:hover{
    cursor: pointer;
}

.icon{
  padding: 0px 1px;  
}