<div class="trendingItems" id="trendingTags">
	<div class="title">
		Tendences
	</div>
	<div class="listTag">
		<span class="listNumber">1</span>
		<span class="listElement"><span class="Tag blue">Tag1</span></span>
	</div>
	<div class="listTag">
		<span class="listNumber">2</span>
		<span class="listElement"><span class="Tag blue">Tag2</span></span>
	</div>
	<div class="listTag">
		<span class="listNumber">3</span>
		<span class="listElement"><span class="Tag blue">un tag long</span></span>
	</div>
</div>