<div class="trendingItems" id="trendingUsers">
	<div class="title">
		Utilisateurs populaires
	</div>
	<div class="listUser">
		<span class="listNumber">1</span>
		<span class="listElement"><i class="far fa-user"></i></span>
		<span class="textElement">Username1</span>
	</div>
	<div class="listUser">
		<span class="listNumber">2</span>
		<span class="listElement"><i class="far fa-user"></i></span>
		<span class="textElement">Username2</span>
	</div>
	<div class="listUser">
		<span class="listNumber">3</span>
		<span class="listElement"><i class="far fa-user"></i></span>
		<span class="textElement">Username3</span>
	</div>
</div>