<div class="post">
	<div class="postInfos">
	    <div class="simpleSeparator">
			<div class="leftPannel">
				<span class="postUserName">Username</span>
			</div>
			<div class="rightPanel">
				<span class="Tag green">Tag4</span>
				<span class="Tag purple">Tag5</span>
				<span class="Tag blue">Tag6</span>
			</div>
		</div>
	</div>

	<div class="postContent">
		Nulla auctor porta gravida. Fusce at lectus eu dui suscipit consequat at in leo. Nam nec ullamcorper urna. Duis nec erat ac neque venenatis vulputate at at ligula. Curabitur a magna ut massa lacinia malesuada id non quam. Proin diam.  
	</div>

	<div class="postAction simpleSeparator">
		<div class="leftPannel">
			<span class="postSeeComment">
				<i class="fas fa-chevron-down icon"></i>
			</span>
			<span class="postComment">
				<i class="far fa-comments icon"></i> Commenter
			</span>
		</div>
		<div class="rightPanel">
			<span class="postUpvote">
				<span class="upVoteButton"><i class="fas fa-arrow-up icon"></i></span><span>10254</span>
			</span>
			<span class="postDownvote">
				<span class="downVoteButton"><i class="fas fa-arrow-down icon"></i></span><span>1025</span>
			</span>
		</div>
	</div>
</div>