{% block listPosts %}

{% for post in posts %}
<div class="post">
	<div class="postInfos">
	    <div class="simpleSeparator">
			<div class="leftPannel">
				<span class="postUserName">{{ post.IdUtilisateur.Username }}</span>
			</div>
			<div class="rightPanel">
				<span class="Tag green">Tag4</span>
				<span class="Tag purple">Tag5</span>
				<span class="Tag blue">Tag6</span>
			</div>
		</div>
	</div>

	<div class="postContent">
		{{ post.Text }}
	</div>

	<div class="postAction simpleSeparator">
		<div class="leftPannel">
			<span class="postSeeComment">
				<i class="fas fa-chevron-down icon"></i>
			</span>
			<span class="postComment">
				<i class="far fa-comments icon"></i> Commenter
			</span>
		</div>
		<div class="rightPanel">
			<span class="postUpvote">
				<span class="upVoteButton"><i class="fas fa-arrow-up icon"></i></span><span>{{ post.UpVotes }}</span>
			</span>
			<span class="postDownvote">
				<span class="downVoteButton"><i class="fas fa-arrow-down icon"></i></span><span>{{ post.DownVotes}}</span>
			</span>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}