{% extends 'home/index.html.twig' %}

{% block formNewPost %}


{{ form_start(form, {'attr' : {'id': 'formPost'}}) }}
    <div>
        {{ form_widget(form.Text, {'attr' : {'class': 'inputText'}}) }}
    </div>
    <div>
        {{ form_rest(form) }}
    </div>
    <div>
        <button class="purpleButton">Valider</button>
    </div>
</form>
{{ form_end(form)}}


{% endblock %}